<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>
  <div class="wrapper">
    <div class="sidebar">
      <ul>
        <li><a href="01-Hugging-Face">Day 1: Hugging Face</a></li>
        <li><a href="02-FastAPI">Day 2: FastAPI</a></li>
        <li><a href="03-Docker">Day 3: Docker</a></li>
        <li><a href="04-Trivy">Day 4: Trivy</a></li>
        <li><a href="05-AWS-ECR">Day 5: AWS ECR</a></li>
        <li><a href="06-Kubernetes">Day 6: Kubernetes</a></li>
        <li><a href="07-kube-score">Day 7: kube-score</a></li>
        <li><a href="08-EKS">Day 8: AWS EKS</a></li>
        <li><a href="09-kustomize">Day 9: kustomize</a></li>
        <li><a href="10-github-action">Day 10: GitHub Actions</a></li>
      </ul>
    </div>
    <div class="content">
      {{ content }}
    </div>
  </div>
</body>
</html>
